

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>university Landing</title>
    <link href="static/css/test.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap" rel="stylesheet">


</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="back.jpeg"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">COURSE</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
        </nav>
       
    <div class="text-box">
        <h1>World's Biggest University</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur molestias incidunt neque labore. Mollitia modi odit aperiam itaque deleniti, ratione officia accusantium tempora soluta ab fuga ea placeat dolorum numquam!</p>
        <a href=""class="know-btn">Visit Us to Know More</a>
    </div>
    </section>
</body>
</html>